APP_NAME=IARMS_Backend
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# ==============================================================================
# KONFIGURASI DATABASE MICROSOFT SQL SERVER (sqlsrv)
# ==============================================================================
DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=iarms_db
DB_USERNAME=sa
DB_PASSWORD=YourStrongPassword123!
DB_TRUST_SERVER_CERTIFICATE=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
